<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'  type='text/css'>
    <script type="text/javascript">
    
    function cancella_notifica_messaggi(input){
        var id = {'id': input}
        $.ajax({
        url: "/conversaziones",
        type: "PATCH",
        data: id
        });
}
</script>
</head>
<!-- <body class="sfondo"> -->
	<body class="sfondo">
    <% if logged_in? %>
    <span class="full-width-bar">
        <div class="col-lg-6">
                <h1>Benvenuto <%= current_user.nome %>! </h1>
                <% if @autoveicolo.where(user_id: current_id).count < 1 %>
                <p class="piccoloHome"> Non hai ancora aggiunto nessun veicolo, <a href="http://localhost:3000/autoveicolos/new" class="modPersXS"> aggiungilo ora!</a></p>
                <% else %>
                <p class=pers>Di quale veicolo ti vuoi occupare oggi?</p>
                <% @autoveicolo.where(user_id: current_id).find_each do |autoveicolo| %>
                <br/>
                <li><a class=modPers href="http://localhost:3000/autoveicolos/<%= autoveicolo.id %>"> <%= autoveicolo.targa %> </a></li>
                <% end %>
                <% end %>
        </div>
        <div class="col-lg-6">
		<% if(@conversazioni.where(destinatario_id: converti_mail_id(current_id), letto: 'f').count>0) %>
		    <h3 class=pers>  Hai dei nuovi messaggi da: </h3>
			<% @conversazioni.where(destinatario_id: converti_mail_id(current_id), letto: 'f').pluck('DISTINCT user_id').each do |conversazione| %>
			<li class=modPersXS> <%= get_nome_da_id( conversazione) %> </li>
			<% end %>
			<h3 class=pers>clicca <a class=modPers href="http://localhost:3000/conversaziones/index" onclick="cancella_notifica_messaggi(<%= current_id %>)">QUI</a> per leggerli. </h3>
		<% end %>
            <h2>Scadenze entro 30 giorni</h2>
            <table class="table table-bordered table-hover">
            <th  class=pers> Targa Veicolo</th>
            <th  class=pers> Scadenza </th>
            <th class=pers> Giorni alla Scadenza </th>
            <% @scadenze.where(user_id: current_id, notificato: 'f').find_each do |scadenze| %>
            <tr>
            <% if (scadenze.data_scadenza).to_i< @data_passata %>
            <td class=pers><%= @autoveicolo.find(scadenze.targa).targa %></td>
            <td class=pers><%= scadenze.tipo %></td>
            <td class=pers><%= scadenze.data_scadenza.to_i - @data_oggi.to_i%></td>
            <% end %>
            </tr>
            <% end %>
            </table>
           <a  href="/scadenzes/new" class="modPers"><span class="glyphicon glyphicon-plus"></span> Aggiungi scadenza </a> 
    </span>
    <% end %> 
	
</div>
</body>
 
</html>
